.day {
    --text:#666666;
    --background:#fefefe;
    --accent-one:#00274c;
    --accent-two:#ffcb05;
    --accent-three:#6d98ab;
    --accent-text:#ffffff;
    --transparency:rgba(255,255,255,0.5);
    --menu:#a8b1b8;
    --highlight:#6d98ab;
}

.night {
    --text:#a8b1b8;
    --background:#272730;
    --accent-one:#C8102E;
    --accent-three:#363640;
    --accent-two:#ffcb05;
    --accent-text:#ffffff;
    --transparency:rgba(25,25,25,0.5);
    --menu:#6d98ab;
    --highlight:#ffcb05;
}

*[class^="ph-"]:before {
    display:block;
}

@keyframes blinkblink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes softblink {
	from {
		opacity: 0.9;
	}
	to {
		opacity: 1;
	}
}

body {
    color:var(--text);
	background-attachment:fixed;
	font:300 1em/1.7em "Space Grotesk",sans-serif;
    margin:0;
    padding:0;
    transition:0.4s ease-in-out;
    padding-bottom:9vw; /*clouds*/
    overflow-x:hidden;
}

.day {
	background-color:#fff;
	background-image:radial-gradient(220% 105% at bottom center, #eaeaea 10%, #f6f6f6 40%, #fcfcfc 65%, #fff);
}

.night {
	background-color:#151515;
	background-image:radial-gradient(220% 105% at top center, #272730 10%, #212121 40%, #161616 65%, #0c0c0c);
}

bold,strong {
    font-weight:bold;
    color:var(--accent-one);
}

italic,em {
    font-style:italic;
    color:var(--highlight);
}

a, a:visited {
    color:inherit;
    text-decoration:none;
    transition:0.2s ease-in-out;
}

a:hover {
    color:var(--accent-two);
}

/* tooltips */

.ui-tooltip {position:absolute; z-index:214748364789;}
 
.ui-tooltip-content {
    margin:5px 25px;
    max-width:300px;
    padding:5px 10px;
    text-transform:uppercase;
    background:var(--accent-one);
    color:var(--accent-text);
    font:1rem/1.5rem "Ailerons",sans-serif;
    letter-spacing:-0.1em;
}

#stars, #stars2, #stars3 {
    border-radius:100%;
}

/* top */

#top {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    padding:0;
    z-index:999;
    background:var(--transparency);
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    border-bottom:1px solid var(--accent-two);
    transition:0.4s ease-in-out;
    min-height:55px;
}

.night #top {
    border-bottom-color:rgba(255,255,255,0.2);
}

#pubs {
    overflow:hidden;
    max-height:30px;
    padding:0 60px;
    margin:10px 0;
    font-size:0.8em;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:0.1em;
    list-style:none;
    transition:0.4s ease-in-out;
    color:var(--text);
}

#pubs li {
    display:block;
    height:30px; 
    line-height:30px;
    padding:0;
} 

#pubs li a {
    transition-duration:0s;
    display:inline-block;
    position:relative;
    line-height:100%;
}

#pubs li a * {
    display:inline-block;
    vertical-align:middle;
}

#pubs li a i[class*="ph"] {
    font-size:18px;
}

#pubs:hover {
    max-height:200px;
    padding-bottom:10px;
    margin-bottom:0;
}

#right {
    position:fixed;
    right:60px; 
    top:0px;
    height:50px;
    line-height:50px;
    z-index:100000
}

#right a {
    display:inline-block;
    vertical-align:middle;
    height:32px;
    padding:4px 5px;
    line-height:32px;
    font-size:32px;
} 

#right a:hover {
    color:var(--accent-two);
}

#right .popp {
    display:none;
}
 
#top.active {
    background:var(--menu);
    border-bottom-color:transparent;
}
 
#top.active #pubs {
    color:var(--accent-text);
}

#top.active #pubs a {
    color:var(--accent-text);
}

#top.active #pubs a:hover {
    background:var(--accent-two);
    color:var(--accent-text);
} 

/* animation */

.blink-left,
.blink--right {
    position:relative;
}

.blink-left::before,
.blink-right::after {
	content:"";
	position:absolute;
	width:1em;
	height:100%;
	opacity:0;
    margin:0px 5px;
    background:var(--accent-two);
	animation:none;
}

.blink-left::before {
	right:100%;
}

.blink-right::after {
	left:100%;
}

.blink-left:hover::before,
.blink-right:hover::after {
	animation:blinkblink 0.4s cubic-bezier(0.5,0,1,1) infinite alternate;
}

main {
    width:100%;
    box-sizing:border-box;
    margin:150px auto 30px;
    padding:0 60px;
}

/* header */

header {
    max-width:55rem;
}

header h1 {
    font:normal 300 6rem/6rem "Space Grotesk",sans-serif;
    margin:0 0 1rem;
    color:var(--accent-one);
}

header h1 span {
    color:var(--highlight);
    font-weight:bold
}

header h1 span i {
    display:inline-block;
    vertical-align:middle;
    line-height:6rem;
    font-size:6rem;
    margin-bottom:0.25em;
}

header h2 {
    font:normal 1.2rem/2rem "Space Mono",sans-serif;
    text-transform:uppercase;
    position:relative;
    display:inline-block;
    padding-left:1em;
    margin-left:5px;
    color:var(--accent-one);
}

header h2 a {
    display:inline-block;
}

.day .blink-left[data-id="day"]::before {
	animation:blinkblink 0.4s cubic-bezier(0.5,0,1,1) infinite alternate;
}

.night .blink-left[data-id="night"]::before {
	animation:blinkblink 0.4s cubic-bezier(0.5,0,1,1) infinite alternate;
}

header h2 span {
    color:var(--accent-three);
}

/* nav */

.day #n,
.night #d,
.night .d:not(.n),
.day .n:not(.d) {
    display:none!important;
}

.iso {
    margin:3em 0;
}

.iso ul {
    display:block;
    padding:0;
    overflow:hidden;
    list-style-type:none;
    font-family:"Space Mono",consolas,monospace;
    text-transform:uppercase;
    letter-spacing:1px;
    position:relative;
    font-size:1.2em
}

.iso ul li {
    display:block;
    float:left;
    margin-right:2em;
}

.iso ul li a {
    display:block;
}

.iso ul li a * {
    display:inline-block;
    vertical-align:middle;
}

.iso ul li a span {
    border-bottom:2px solid transparent;
    line-height:100%;
}

.iso ul li a i[class*="ph"] {
    font-size:1em;
    margin-left:0.1em;
}

.iso ul li a.selected {
    color:var(--accent-one);
    font-weight:bold;
}

.iso ul li a.selected span {
    border-bottom-color:var(--accent-two);
}

/* grid */

.grid {
    margin:0 -1rem;
}

.grid .item {
    aspect-ratio:1;
    display:flex;
    align-content:center;
    padding:1.5em;
    width:15rem;
    margin:1rem;
	box-sizing:border-box;
	position:relative;
	border:1px solid transparent;
	transition:0.4s ease-in-out,
        width 0s linear,
        height 0s linear,
        padding 0s linear;
	flex-wrap:wrap;
    flex-direction:column;
}

.grid .item:not(.expand):not(.inactive){
    cursor:pointer;
}

.grid .item > * {
	width:100%;
}

.grid .item h3,
.grid .item h4 {
	position:absolute;
	right:0.5em;
	left:0.5em;
	margin:0;
	line-height:150%;
	color:var(--accent-text);
	font-weight:normal;
}

.grid .item h3 {
	bottom:0.5em;
	font-size:1.4em;
    text-transform:capitalize;
	font-family:"Space Grotesk",sans-serif;
	text-align:right;
}

.grid .item h4 {
	top:0.5em;
	left:1em;
	text-align:left;
	font-size:0.8em;
	letter-spacing:0.1em;
	text-transform:uppercase;
}

.item h3 span {
	font-family:"Space Grotesk",sans-serif;
	text-transform:uppercase;
	font-size:0.5em;
	display:block;
	letter-spacing:0.1em;
	line-height:100%;
	margin:0.5em 0;
	font-weight:500;
	transition:0.4s ease-in-out;
}

.item:not(.expand) h3 span {
    display:none;
}

.one {
	background:var(--accent-one);
}

.one.expand {
	border-color:var(--accent-one);
}

.one.expand h3,
.one.expand h4 {
	color:var(--accent-one);
}

.two {
	background:var(--accent-three);
}

.two.item h3,
.two.item h4 {
    color:var(--accent-text);
}

.two.expand {
	border-color:var(--accent-three);
}

.two.expand h3,
.two.expand h4 {
	color:var(--accent-three);
}

.item.one.alt,
.item.two.alt,
.item.one.expand,
.item.two.expand {
	background:var(--transparency);
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
}

.item.one.alt {
	border-color:var(--accent-one);
}

.item.one.alt h3,
.item.one.alt h4 {
	color:var(--accent-one);
}

.item.two.alt {
	border-color:var(--accent-three);
}

.item.two.alt h3,
.item.two.alt h4 {
	color:var(--accent-three);
}

.night .two.expand h3,
.night .two.expand h4 {
	color:var(--accent-two);
}

.item:not(.expand) .front img,
.front .overlay {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width:100%;
    height:100%; 
}

.expand:not(.big) .front img,
.expand .front .overlay {
    display:none;
}

.item:not(.expand) .front img {
    object-fit:cover;
    z-index:-2;
}

.big.expand .front img {
    width:calc(100% + 6rem);
    margin:calc(25px - 3rem) -3rem 25px;
    max-height:12rem;
    object-fit:cover;
    border-bottom:1px solid;
}

.one.big.expand .front img {
    border-bottom-color:var(--accent-one);
}

.two.big.expand .front img {
    border-bottom-color:var(--accent-three);
}

.big.expand .front img.t {
    object-position:top;
}

.front .overlay {
    z-index:-1;
}

.item:not(.inactive) .front .overlay {
    -webkit-backdrop-filter:blur(2px);
    backdrop-filter:blur(2px);
}

.one .overlay {
    background:linear-gradient(to bottom,rgba(255,255,255,0),var(--accent-one));
}

.one.alt:not(.expand) .overlay ~ h3 {
    color:var(--accent-text);
    text-shadow:2px 2px 2px var(--accent-one);
}

.two .overlay {
    background:linear-gradient(to bottom,rgba(255,255,255,0),var(--accent-three));
}

.two.alt:not(.expand) .overlay ~ h3 {
    color:var(--accent-text);
    text-shadow:2px 2px 2px var(--accent-three);
}

.back {
	display:none;
    overflow:auto;
    flex:1;
}

.grid .item:not(.expand):not(.inactive):hover {
	animation:softblink 0.1s cubic-bezier(0.5,0,1,1) infinite alternate;
}

/* expand */

.grid .item.expand,
.grid .item.inactive:not(.small) {
	width:32rem;
	padding:3rem;
	align-content:flex-start;
}

.item.expand h3,
.item.expand h4 {
	position:relative;
	margin:0;
	left:0;
	right:0;
	text-align:left;
}

.item.expand h3 {
	margin-top:20px;
}

.head {
	position:absolute;
	bottom:100%;
	left:0;
	opacity:0;
	font:0.8em/150% "Space Mono",consolas,monospace;
	transition:opacity 0s ease-in-out 0.1s;
    text-transform:uppercase;
}

.head span {
    white-space:nowrap;
    overflow:hidden;
    max-width:7rem;
    text-overflow:ellipsis;
}

.foot {
    position:absolute;
    bottom:0;
    left:0;
    display:none;
    overflow:hidden;
	font:0.7rem "Space Mono",consolas,monospace;
    text-transform:uppercase;
    padding:10px;
    box-sizing:border-box;
}

.inactive h4 {
    top:0;
    left:0;
    opacity:1;
}

.inactive .front * {
    transition:opacity 0.4s ease-in-out;
}

.inactive:hover h4,
.inactive:hover h3,
.inactive:hover .overlay {
    opacity:0;
}

.inactive h4 span {
	background:var(--accent-two);
    color:var(--background);
}

.inactive h4 span,
.foot span,
.foot a {
    padding:4px 7px;
    display:block;
	float:left;
    margin-right:5px;
    line-height:18px;
}

.inactive h4 span,
.foot span {
    padding:5px 7px;
}

.foot a {
    background:var(--menu);
    color:var(--accent-text);
    font-size:18px;
}

.item:not(.expand):hover .head {
	opacity:1;
}

.item.expand .foot {
    display:block;
}

.item .back p, .item .back ul {
	font-size:0.9em;
	font-weight:300;
	list-style-type:none;
}

.item .back ul li::before {
	content:"";
	width:3px;
	height:3px;
	border:1px solid var(--accent-two);
	display:inline-block;
	vertical-align:middle;
	box-sizing:border-box;
	margin:-0.1em 0.5em 0 calc(-3px - 0.5em);
}

.topper {
	width:100%;
	height:25px;
	top:0;
	left:0;
	right:0;
	padding:5px;
	box-sizing:border-box;
	position:absolute;
	color:var(--accent-text);
	font:0.8em/15px "Space Mono",consolas,monospace;
	display:none;
}

.one .topper,
.one .foot span,
.one .foot a:hover {
	background:var(--accent-one);
    color:var(--accent-text);
}

.two .topper,
.two .foot span,
.two .foot a:hover {
	background:var(--accent-three);
    color:var(--accent-text);
}

.topper a.close,
.topper a.close::before {
	position:absolute;
    display:block;
    width:11px;
    height:11px;
    border-radius:100%;
    background:var(--accent-two);
}

.topper a.close {
	right:7px;
	top:7px;
}

.topper a.close::before {
    content:"";
    right:15px;
    top:0px;
    box-shadow:-15px 0 0 var(--transparency);
    background:var(--transparency);
}

.topper a.close:hover {
	box-shadow:inset 3px 3px 0 rgba(0,0,0,0.2);
}

/* footer */

footer {
    position:fixed;
    left:60px;
    bottom:0;
    z-index:2;
    height:30px;
    font:1.2em/30px "Ailerons",sans-serif;
    letter-spacing:-0.2em;
}

footer span {
    background:var(--highlight);
    color:var(--background);
    padding:0 10px;
}

.clouds {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:0;
    z-index:1;
    border-bottom:30px solid var(--background);
}

.clouds::before,
.clouds::after {
    width:20vw;
    height:20vw;
    left:-5rem;
    z-index:999;
    border-radius:50%;
    content:"";
    display:block;
    position:absolute;
    background:var(--background);
    box-shadow:10vw 6.25vw 0 var(--background),
        21vw 5.4vw 0 var(--background),
        29vw 3.5vw 0 var(--background),
        40vw 3vw 0 var(--background),
        49vw 6vw 0 var(--background),
        59.5vw 3.25vw 0 var(--background),
        71vw 4.9vw 0 var(--background),
        80.5vw 2.75vw 0 var(--background),
        90vw 3.6vw 0 var(--background),
        99vw 5.4vw 0 var(--background);
}

.clouds::before {
    top:-8vw;
    left:-5rem;
}

.clouds::after {
    -webkit-transform:scaleX(-1);
    transform:scaleX(-1);
    right:-5rem;
    top:-9vw;
    left:auto;
    opacity:0.8;
    filter:blur(2px);
    -webkit-filter:blur(2px);
}

@-webkit-keyframes fire {
    0% {
        background: -webkit-gradient(linear, left top, left bottom, from(#ff861c), color-stop(50%, #ef017c), to(#ed0303));
        background: linear-gradient(to bottom, #ff861c 0%, #ef017c 50%, #ed0303 100%);
    }
    50% {
        background: -webkit-gradient(linear, left top, left bottom, from(#ed0303), color-stop(51%, #ff861c), to(#ef017c));
        background: linear-gradient(to bottom, #ed0303 0%, #ff861c 51%, #ef017c 100%);
    }
    100% {
        background: -webkit-gradient(linear, left top, left bottom, from(#ef017c), color-stop(51%, #ed0303), to(#ff861c));
        background: linear-gradient(to bottom, #ef017c 0%, #ed0303 51%, #ff861c 100%);
    }
}
  
@keyframes fire {
    0% {
        background: -webkit-gradient(linear, left top, left bottom, from(#ff861c), color-stop(50%, #ef017c), to(#ed0303));
        background: linear-gradient(to bottom, #ff861c 0%, #ef017c 50%, #ed0303 100%);
    }
    50% {
        background: -webkit-gradient(linear, left top, left bottom, from(#ed0303), color-stop(51%, #ff861c), to(#ef017c));
        background: linear-gradient(to bottom, #ed0303 0%, #ff861c 51%, #ef017c 100%);
    }
    100% {
        background: -webkit-gradient(linear, left top, left bottom, from(#ef017c), color-stop(51%, #ed0303), to(#ff861c));
        background: linear-gradient(to bottom, #ef017c 0%, #ed0303 51%, #ff861c 100%);
    }
}

/* spaceship */

#plane {
    position:absolute;
	z-index:99999;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:5rem;
    bottom:0;
}

.fuselage {
    width:25px;
}

.tip {
    width:12.5px;
    margin:0 auto;
    border-top:6.25px solid #363636;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}

.cone {
    position:relative;
    border-bottom:12.5px solid #fff;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    height:0;
    width:15px;
    margin:0 auto;
}

.neck::after, .body::after, .reactor::after {
    content:"";
    position:absolute;
    top:0;
}

.neck {
    position:relative;
    width:25px;
    height:15px;
    margin:0 auto;
    background:#f3f3f3;
}

.neck:after {
    right:0;
    width:11px;
    height:15px;
    background:#dfdfdf;
}

.body {
    position:relative;
    width:25px;
    height:55px;
    background:#f3f3f3;
    border-bottom:1px solid #cc3e54;
    border-top:1px solid #cc3e54;
}

.body:after {
    right:0;
    width:12.5px;
    height:55px;
    background:#dfdfdf;
}

.reactor {
    position:relative;
    border-bottom:15px solid #404040;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    height:0;
    width:15px;
    margin:0 auto;
}

.reactor:after {
    left:-5px;
    width:7.5px;
    opacity:0.25;
    border-bottom:15px solid #dfdfdf;
    border-left:5px solid transparent;
}

.fire {
    position:relative;
    width:12.5px;
    height:35px;
    margin:0 auto;
    -webkit-animation:fire 0.3s infinite;
    animation:fire 0.3s infinite;
}

.left-wing {
    position:absolute;
    top:35px;
    right:25px;
    width:2px;
    border-bottom:55px solid white;
    border-left:30px solid transparent;
}

.left-tail {
    position:absolute;
    top:55px;
    right:35px;
    border-bottom:35px solid white;
    border-left:35px solid transparent;
    border-top-left-radius:50%;
    border-bottom-left-radius:10%;
}

.right-wing {
    position:absolute;
    top:35px;
    left:25px;
    width:2px;
    border-bottom:55px solid white;
    border-right:30px solid transparent;
    z-index:-1;
}

.right-tail {
    position:absolute;
    top:55px;
    left:35px;
    border-bottom:35px solid white;
    border-right:35px solid transparent;
    border-bottom-right-radius:10%;
}

@media screen and (max-width:640px) {
    main,#pubs {
        padding:0 30px;
    }

    #right {
        right:30px;
    }

    #pubs li {
        opacity:0;
        transition:opacity 0.4s ease-in-out;
    }

    #pubs:hover li {
        opacity:1;
    }

    #plane {
        display:none;
    }

    footer {
        left:30px;
    }

    header {
        max-width:100%;
    }

    header h1 {
        font-size:5em;
    }

    .iso ul li:first-of-type {
        float:none;
    }

    .grid .item {
        width:12rem;
        margin:0.5rem;
    }

    .grid .item.expand,
    .grid .item.inactive:not(.small) {
        width:25rem;
        padding:2rem;
    }

    .big.expand .front img {
        margin-left:-2rem;
        margin-right:-2rem;
        width:calc(100% + 4rem);
    }

    .grid .item h3 {
	    font-size:1.2em;
    }

    .grid .item.expand.big h3 {
        margin-top:0;
    }

    .grid .item h4 {
	    font-size:0.7em;
    }

    .head span {
        display:none;
    }

    .item .back ul {
        padding-left:20px;
    }
}

@media screen and (max-width:30rem){
    main {
        margin-top:90px;
    }

    main,#pubs {
        padding:0 15px;
    }

    #right {
        right:15px;
    }

    footer {
        left:15px;
    }

    .grid {
        margin:-5% -5% 0 0;
    }

    .grid .item {
        width:45%;
        margin:5% 5% 0 0;
    }

    .grid .item.expand,
    .grid .item.inactive:not(.small) {
        width:95%;
        aspect-ratio:unset;
    }

    .grid .item.inactive:not(.small) .front img {
        position:relative;
        margin:-2rem;
        width:calc(100% + 4rem);
        height:calc(100% + 4rem);
    }

    .grid .item > .foot {
        margin:0 -2rem -2rem;
        width:calc(100% + 4rem);
        position:relative;
    }

    .grid .item > .foot a,
    .grid .item > .foot span {
        margin-top:5px;
    }

    #right .popp {
        display:inline-block;
    }

    footer {
        color:transparent;
    }

    footer a {
        display:none;
    }
}

@media screen and (max-width:420px){
    #pubs {
        display:none;
    }

    header h1,
    header h1 span i {
        font-size:4rem;
        line-height:4rem;
    }

    header h2,
    .iso ul {
        font-size:1rem;
        line-height:1.5em;
    }

    .grid .item h3 {
        font-size:1rem;
    }

    .grid .item h3 span {
        font-size:0.8rem;
    }

    .grid .item h4 {
        font-size:0.6em;
    }

    .grid .item.expand h4 {
        font-size:0.8rem;
    }
}

@media screen and (max-width:360px){
    header h1,
    header h1 span i {
        font-size:3rem;
        line-height:3rem;
    }

    .iso ul li{
        float:none;
    }
}