body {
    color:#fff;
	background-color:#212121;
	background-image:radial-gradient(220% 105% at top center, #1b2947 10%, #212121 40%, #161616 65%, #0c0c0c);
	background-attachment:fixed;
	overflow:hidden;
	font:1em/1.7em "B612",sans-serif;
}

a, a:visited {
    color:inherit;
    text-decoration:none;
}

/* tooltips */

.ui-tooltip {position:absolute; z-index:214748364789;}
 
.ui-tooltip-content {
    margin:5px 25px;
    max-width:300px;
    padding:5px 8px;
    text-transform:uppercase;
    background:#151515;
    border-radius:3px;
    color:#ffffff;
    font:0.8em/1.2em"Ailerons","B612",sans-serif;
}

/* solar map */

#planets {
    opacity:0;
}

#planets .map-point, #banner {
	border-radius:100%;
	position:fixed;
	z-index:1;
	transition:0.4s ease-in-out;
	text-align:center;
}

#planets .map-point::before,
#planets .map-point::after {
	content: "";
	position: absolute;
}

#test1 {
	width: 5vw;
	height: 5vw;
	background-color: #75777c;
	box-shadow: inset -0.6vw -0.6vw #67686b;
}

#test1::before,
#test1::after {
	background-color: #666670;
	border-radius: 100%;
}

#test1::before {
	height: 17%;
	left: 15%;
	top: 57.5%;
	width: 17%;
}

#test1::after {
	height: 15%;
	left: 50%;
	top: 15%;
	width: 15%;
}

#test2 {
	background-color:#496290;
	box-shadow:inset -0.6vw -0.6vw #3a5373;
	height:10vw;
	width:10vw;
}

#test2::before,
#test2::after,
#test2 .inner {
	background-color: #5e9049;
	border-radius: 100% 70% 100% 70%;
	position:absolute;
}

#test2::before {
	height: 64%;
	left: 6%;
	top: 30%;
	width: 30%;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}

#test2::after {
	height:24%;
	left:34%;
	top:3%;
	width:30%;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}

#test2 .inner {
    left:52%;
    height:28%;
    width:38%;
    top:47%;
	transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
}

#test3 {
	background-color: #c25345;
	box-shadow: inset -0.6vw -0.6vw #b34568;
	height: 8.4vw;
	width: 8.4vw;
}

#test3::before,
#test3::after {
	background-color: #ae4135;
	border-radius: 100%;
}

#test3::before {
	height: 28%;
	left: 55%;
	top: 55%;
	width: 28%;
}

#test3::after {
	height: 20%;
	left: 12%;
	top: 24%;
	width: 20%;
}

#test4,
#test4 .inner {
	background-color: #d1aa6f;
	box-shadow: inset -0.6vw -0.6vw #989145;
	height: 13vw;
	width: 13vw;
	border-radius: 100%;
}

#test4::before,
#test4::after,
#test5::before,
#test5::after {
	height: 85%;
	left: -7.7%;
	width: 85%;
	border-radius: 100%;
}

#test4::before,
#test4::after {
	top: -4.6%;
	border: 2vw solid #998236;
	transform: rotate(-30deg) skew(65deg);
	-webkit-transform: rotate(-30deg) skew(65deg);
	-moz-transform: rotate(-30deg) skew(65deg);
}

#test4 .inner,
#test5 .inner {
	z-index: 1;
}

#test4::before {
	border-width: 2vw 2vw 0 0;
	z-index: -1;
}

#test4::after {
	border-width: 0 0 2vw 2vw;
	z-index: 2;
}

#test5,
#test5 .inner {
	background-color: #9dbcbf;
	box-shadow: inset -0.6vw -0.6vw #849896;
	height: 13.4vw;
	width: 13.4vw;
	border-radius: 100%;
}

#test5::before,
#test5::after {
	border: 1vw solid #f0f3f5;
	transform: rotate(-90deg) skew(65deg);
	-webkit-transform: rotate(-90deg) skew(65deg);
	-moz-transform: rotate(-90deg) skew(65deg);
	opacity: 0.5;
	top: 4.6%;
}

#test5::before {
	border-width: 1vw 1vw 0 0;
	z-index: -1;
}

#test5::after {
	border-width: 0 0 1vw 1vw;
	z-index: 2;
}

#test6 {
	background-color: #587098;
	box-shadow: inset -0.6vw -0.6vw #3f578f;
	height: 12vw;
	width: 12vw;
}

.map-point:hover {
	-webkit-transform:scale(1.25);
	-ms-transform:scale(1.25);
	transform:scale(1.25);
	cursor:pointer;
}

#banner {
	background-color: #f2bc46;
	height: 30vw;
	width: 30vw;
	left: 35vw;
	top: calc(50vh - 15vw);
	box-shadow: 0 0 2.5vw 2.5vw rgba(255,213,95,0.6);
}

.label {
    display:block;
    position:absolute;
    background:rgba(66,66,66,0.7);
    padding:10px;
    top:100%;
    color:#fff;
    margin-top:20px;
    font:1.5em/100% "Ailerons","B612",sans-serif;
    text-transform:uppercase;
    line-height:100%;
    left:50%;
    transform:translateX(-50%);
    transition:0.4s ease-in-out;
    letter-spacing:0.5px;
}

.label::before {
    content:"";
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
    border-width:0 10px 10px 10px;
    border-color:transparent transparent rgba(66,66,66,0.7) transparent;
    top:-10px;
    left:50%;
    margin-left:-10px;
}

.map-point.big .label {
    opacity:0;
    visibility:hidden;
}

.map-point:not(.big):hover .label {
	-webkit-transform:scale(0.8) translateX(-62.5%);
	-ms-transform:scale(0.8) translateX(-62.5%);
	transform:scale(0.8) translateX(-62.5%);
}

@media all and (min-width:800px){
    .label {opacity:0;}
    .map-point:not(.big):hover .label {opacity:1;}
}

#test6 .label {
    top:50%;
    left:auto;
    right:100%;
    margin-top:0;
    margin-right:25px;
    transform:translateY(-50%);
}

#test6 .label::before {
    border-width:10px 0 10px 10px;
    border-color:transparent transparent transparent rgba(66,66,66,0.7);
    top:50%;
    right:-10px;
    margin-top:-10px;
    margin-left:0;
    left:auto;
}

#test6.map-point:not(.big):hover .label {
	-webkit-transform:scale(0.8) translateY(-62.5%);
	-ms-transform:scale(0.8) translateY(-62.5%);
	transform:scale(0.8) translateY(-62.5%);
}

.map-point.big {
    -webkit-transform:scale(10);
    -ms-transform:scale(10);
    transform:scale(10);
    z-index:1000!important;
    top:100%!important;
    left:50%!important;
}

.map-point.small, #banner.small {
    transform:scale(0.1);
    z-index:0;
    /*opacity:0;*/
    /*visibility:hidden;*/
}

/* elliptical orbit paths */

.path {
	position: fixed;
	border-radius: 100%;
	z-index: -2;
	opacity: 0;
}

#path1 {
	width: 95vw;
	height: 95vh;
	left: 2.5vw;
	top: 2.5vh;
}

#path2 {
	width: 85vw;
	height: 85vh;
	left: 7.5vw;
	top: 7.5vh;
}

#path3 {
	width: 75vw;
	height: 75vh;
	left: 12.5vw;
	top: 12.5vh;
}

#path4 {
	width: 65vw;
	height: 65vh;
	left: 17.5vw;
	top: 17.5vh;
}

#path5 {
	width: 55vw;
	height: 55vh;
	left: 22.5vw;
	top: 22.5vh;
}

#path6 {
	width: 45vw;
	height: 45vh;
	left: 27.5vw;
	top: 27.5vh;
}

/* landscape orientation */

@media all and (orientation: landscape) {
	#test1 {
		width: 5vh;
		height: 5vh;
		box-shadow: inset -0.6vh -0.6vh #67686b;
	}
	#test2 {
		height: 10vh;
		width: 10vh;
		box-shadow: inset -0.6vh -0.6vh #3a5373;
	}
	#test3 {
		box-shadow: inset -0.6vh -0.6vh #b34538;
		height: 8.4vh;
		width: 8.4vh;
	}
	#test4,
	#test4 .inner {
		box-shadow: inset -0.6vh -0.6vh #b89145;
		height: 13vh;
		width: 13vh;
	}
	#test4::before {
		border-width: 2vh 2vh 0 0;
	}
	#test4::after {
		border-width: 0 0 2vh 2vh;
	}
	#test5,
	#test5 .inner {
		box-shadow: inset -0.6vh -0.6vh #8498a6;
		height: 13.4vh;
		width: 13.4vh;
	}
	#test5::before {
		border-width: 1vh 1vh 0 0;
	}
	#test5::after {
		border-width: 0 0 1vh 1vh;
	}
	#test6 {
		box-shadow: inset -0.6vh -0.6vh #3f578f;
		height: 12vh;
		width: 12vh;
	}
	#banner {
		width: 30vh;
		height: 30vh;
		top: 35vh;
		left: calc(50vw - 15vh);
	    box-shadow: 0 0 2.5vh 2.5vh rgba(255,213,95,0.6);
	}
}

/* spaceship */

#plane {
    position:absolute;
	z-index:99999;
	transition:0.4s ease-in-out, left 0s ease, top 0s ease;
	cursor:pointer;
}

.fuselage {
    width:25px;
}

.tip {
    width:12.5px;
    margin:0 auto;
    border-top:6.25px solid #363636;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}

.head {
    position:relative;
    border-bottom:12.5px solid #fff;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    height:0;
    width:15px;
    margin:0 auto;
}

.neck::after, .body::after, .reactor::after {
    content:"";
    position:absolute;
    top:0;
}

.neck {
    position:relative;
    width:25px;
    height:15px;
    margin:0 auto;
    background:#f3f3f3;
}

.neck:after {
    right:0;
    width:11px;
    height:15px;
    background:#dfdfdf;
}

.body {
    position:relative;
    width:25px;
    height:55px;
    background:#f3f3f3;
    border-bottom:1px solid #cc3e54;
    border-top:1px solid #cc3e54;
}

.body:after {
    right:0;
    width:12.5px;
    height:55px;
    background:#dfdfdf;
}

.reactor {
    position:relative;
    border-bottom:15px solid #404040;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    height:0;
    width:15px;
    margin:0 auto;
}

.reactor:after {
    left:-5px;
    width:7.5px;
    opacity:0.25;
    border-bottom:15px solid #dfdfdf;
    border-left:5px solid transparent;
}

.fire {
    position:relative;
    width:12.5px;
    height:35px;
    margin:0 auto;
    -webkit-animation:fire 0.3s infinite;
    animation:fire 0.3s infinite;
    opacity:0;
}

.left-wing {
    position:absolute;
    top:35px;
    right:25px;
    width:2px;
    border-bottom:55px solid white;
    border-left:30px solid transparent;
}

.left-tail {
    position:absolute;
    top:55px;
    right:35px;
    border-bottom:35px solid white;
    border-left:35px solid transparent;
    border-top-left-radius:50%;
    border-bottom-left-radius:10%;
}

.right-wing {
    position:absolute;
    top:35px;
    left:25px;
    width:2px;
    border-bottom:55px solid white;
    border-right:30px solid transparent;
    z-index:-1;
}

.right-tail {
    position:absolute;
    top:55px;
    left:35px;
    border-bottom:35px solid white;
    border-right:35px solid transparent;
    border-bottom-right-radius:10%;
}

@-webkit-keyframes fire {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff861c), color-stop(50%, #ef017c), to(#ed0303));
    background: linear-gradient(to bottom, #ff861c 0%, #ef017c 50%, #ed0303 100%);
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ed0303), color-stop(51%, #ff861c), to(#ef017c));
    background: linear-gradient(to bottom, #ed0303 0%, #ff861c 51%, #ef017c 100%);
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ef017c), color-stop(51%, #ed0303), to(#ff861c));
    background: linear-gradient(to bottom, #ef017c 0%, #ed0303 51%, #ff861c 100%);
  }
}

@keyframes fire {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff861c), color-stop(50%, #ef017c), to(#ed0303));
    background: linear-gradient(to bottom, #ff861c 0%, #ef017c 50%, #ed0303 100%);
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ed0303), color-stop(51%, #ff861c), to(#ef017c));
    background: linear-gradient(to bottom, #ed0303 0%, #ff861c 51%, #ef017c 100%);
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ef017c), color-stop(51%, #ed0303), to(#ff861c));
    background: linear-gradient(to bottom, #ef017c 0%, #ed0303 51%, #ff861c 100%);
  }
}

#stars, #stars2, #stars3 {border-radius:100%;}

/* terminals */

.console {
    display:block;
    position:fixed;
    background:rgba(66,66,66,0.85);
    left:50vw;
    top:50vh;
    max-height:95vh;
    z-index:100000;
    border-radius:5px;
    overflow:hidden;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.console:not(#terminal){
    display:none;
}

.topper {
    background:#f3f3f3;
    padding:5px 10px;
    font:bold 1em/15px "Ubuntu Mono",consolas,monospace;
    color:#666666;
    position:relative;
    cursor:move;
    height:15px;
}

.buttons {
    position:absolute;
    top:5px;
    right:10px;
}

.buttons a {
    float:right;
    display:block;
    height:11px;
    width:11px;
    margin-top:2px;
    border-radius:100%;
    margin-left:5px;
}

.buttons a.min, .buttons a.res {
    background:#cbcbcb;
}

.buttons a.x,
.buttons a.c {
    background:#cc3e54;
}

.buttons a.x:hover,
.buttons a.c:hover {
    box-shadow:inset -3px -3px 0 rgba(25,25,25,0.3);
}

#terminal {
    width:450px;
}

.command {
    font:1em/1.5em "Ubuntu Mono",consolas,monospace;
    color:#eaeaea;
    padding:0 20px;
    padding-left:40px;
    max-height:70vh;
    overflow:auto;
    margin:20px 0;
}

.command a:not(.sub) {
    transition:0.4s ease-in-out;
    background-color:rgba(0,39,76,0.6);
    padding:2px;
}

.command a:not(.sub):hover {
    background-color:rgba(255,203,5,0.6);
    color:#00274c;
}

.command a.sub {
    font-weight:bold;
    position:relative;
    color:#ffcb05;
}

.command a.sub:hover {
    background:#00274c;
    color:#aceace;
}

.bash {
    margin-left:-20px;
    display:inline-block;
}

.bash span {
    color:#c0ffee;
    font-weight:bold;
}

.down {
    position:relative;
}

.console#contact {
    top:25vh;
    width:360px;
    max-height:40vh;
}

.social {
    padding:15px;
    font:1em "Ubuntu Mono",consolas,monospace;
}

.social a {
    margin:1em 0;
    display:block;
    position:relative;
    margin-left:1em;
    line-height:1em;
}

.social a .ftr {
    height:1.2em;
    padding:0.1em 0;
    box-sizing:border-box;
    margin:0 5px;
}

.social a * {
    display:inline-block;
    vertical-align:middle;
}

.social a::before, .down::after, .sub::before {
	content:"";
	position:absolute;
	right:100%;
	width:1em;
	height:100%;
	opacity:0;
	background:rgba(255,203,5,0.6);
	animation:none; /* For Chrome */
}

.sub::before {
    background-color:rgba(0,39,76,0.6);
    margin-right:3px;
}

.down::after {
    left:100%;
    right:auto;
    margin-left:3px;
}

.social a:hover::before,
.social a:focus::before,
.sub:hover::before,
.sub:focus::before,
.down:hover::after,
.down:focus::after {
	animation:blinkblink 0.4s cubic-bezier(0.5,0,1,1) infinite alternate;
}

@keyframes blinkblink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.social a:hover .ftr {
    background:#ffcb05;
    color:#00274c;
}

.command strong {
    font-weight:bold;
    color:#ffcb05;
}

#about {
    width:420px;
}

#educate {
    width:540px;
}

#design,#eng {
    width:360px;
}

.inner1, .inner3, .inner4, .inner5 {
    top:50%;
    left:50%;
    position:fixed;
}

.inner1 {
    width:550px;
    margin-left:-270px;
    -webkit-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    transform:translate(0,-50%);
}

.console.inner2 {
    width:95vw;
    height:95vh;
    position:fixed;
    top:2.5vh;
    left:2.5vw;
    -webkit-transform:translate(0);
    -ms-transform:translate(0);
    transform:translate(0);
}

.inner1 .command {
    max-height:65vh;
}

.viewer {
    padding-left:20px;
}

.viewer .bash {
    margin-left:0px;
    color:#ffcb05;
    font-weight:bold;
}

.viewer .down {
    font-weight:bold;
}

.viewer img {
    max-width:100%;
    box-sizing:border-box;
    display:block;
}

.viewer > img,
.slider-for img,
.slider-nav img {
    border:5px solid rgba(255,255,255,0.2);
    border-radius:5px;
}

.slider-for {
    margin-top:5px;
}

.slider-nav img {
    max-height:150px;
    width:100%;
    margin:0 5px;
    border-radius:0;
}

.slick-next, .slick-prev {
    text-shadow:0 0 5px rgba(66,66,66,0.8);
}

.slick-next {
    right:5px;
}

.slick-prev {
    left:5px;
    z-index:999;
}

p.caption {
    padding:0 10px;
}

.gwrap {
    padding:0 20px;
    max-height:calc(95vh - 65px);
    margin:20px 0;
    overflow:auto;
}

.grid {
    -webkit-column-count:4;
    -webkit-column-gap:0px;
    column-count:4;
    column-gap:0px;
}

.graph {
    width:100%;
    height:auto;
    box-sizing:border-box;
    border:5px solid rgba(255,255,255,0.2);
    display:block;
}

@media screen and (max-width:1080px){
    .grid {
        column-count:3;
        -webkit-column-count:3;
    }
}

@media screen and (max-width:640px){
    .console:not(.inner2) {
        -webkit-transform:translate(0,-50%);
        -ms-transform:translate(0,-50%);
        transform:translate(0,-50%);
    }
    
    .console .command {
        max-height:50vh;
    }

    .grid {
        column-count:2;
    }
    
    #terminal, #educate, #design, #eng, #about, #exp, #contact, .inner1, .inner3, .inner4, .inner5 {
        width:95vw;
        left:2.5vw;
        top:50vh;
    }
}

@media screen and (max-width:320px){
    .grid {
        column-count:1;
        -webkit-column-count:1;
    }
}