---
layout: default
---

<section class="grid">
  {% for item in site.about %}
  <article class="item {{ item.classes }}">
    <div class="topper"{% if item.is_default %} style="display:block"{% endif %}>
      <span>me@beverleyy:~</span>
      {% if item.close %}
      <a href="#" class="close" title="close"></a>
      {% endif %}
    </div>
    {% if item.show_title %}
    <div class="front">
      <h3>{{ item.title }}</h3>
      {% if item.description %}
      <h4>{{ item.description }}</h4>
      {% endif %}
    </div>
    <div class="back"{% if item.is_default %} style="display:block"{% endif %}>
      {{ item.content }}
    </div>
    {% else %}
    {{ item.content }}
    {% endif %}
  </article>
  {% endfor %}

  {% assign sorted_items = site.projects | sort: "creation_date" | reverse %}
  {% for item in sorted_items %}
  <article class="item {{ item.classes }}">
    <div class="topper">
      <span>{{ item.category }}@beverleyy:~</span>
      <a href="#" class="close" title="close"></a>
    </div>
    <div class="front">
      {% if item.teaser %}
      <img src="{{ item.teaser }}"/>
      <div class="overlay"></div>
      {% endif %}
      <h3>{{ item.title }}</h3>
      {% if item.description %}
      <h4>{{ item.description }}</h4>
      {% endif %}
    </div>
    <div class="back">
      {{ item.content }}
    </div>
    {% if item.footer %}
    <div class="foot">
      {{ item.footer }}
    </div>
    {% endif %}
    {% assign show_header = item.header | default: true %}
    <div class="head">
      {{ item.start }}{% if item.end %} - {{ item.end }}{% endif %}
      <span style="float:right">{{ item.category }}</span>
    </div>
  </article>
  {% endfor %}
</section>
