---
layout: default
---

{% include isotope.html %}

<p class="sub">
  <span><a href="https://www.a-star.edu.sg/Scholarships/for-graduate-studies/national-science-scholarship-phd">A*STAR NSS (PhD)</a></span>
  <span><a href="https://fxlab.stanford.edu">Supervised by Prof. Matthias Ihme</a></span>
  <span>Personal/university/academic projects</span>
</p>

<section class="grid">
  {% include carousell.html %}

  {% assign sorted_items = site.projects | sort: "creation_date" | reverse %}
  {% for item in sorted_items %}
  <article class="item {{ item.classes }}">
    <div class="topper">
      <span>{{ item.category }}@beverleyy:~</span>
      <a href="#" class="close" title="close"></a>
    </div>
    <div class="front">
      {% if item.teaser %}
      <img src="{{ item.teaser }}"/>
      <div class="overlay"></div>
      {% endif %}
      <h3>{{ item.title }}</h3>
      {% if item.description %}
      <h4>{{ item.description }}</h4>
      {% endif %}
    </div>
    <div class="back">
      {{ item.content }}
    </div>
    {% if item.footer %}
    <div class="foot">
      {{ item.footer }}
    </div>
    {% endif %}
    {% assign show_header = item.header | default: true %}
    <div class="head">
      {{ item.start }}{% if item.end %} - {{ item.end }}{% endif %}
      <span style="float:right">{{ item.category }}</span>
    </div>
  </article>
  {% endfor %}
</section>
