<article class="two alt item long inactive small">
  <div class="topper">
    <span>me@beverleyy:~</span>
  </div>
  <div class="front">
  <div class="carousell main-carousel">
    <div class="slide">
      <img class="full" src="/assets/images/slideshow/dragon.jpg"/>
      <h4>
        <span class="keyword">hi! i'm <strong>beverley</strong></span>
        <span>Mech. Engin. Ph.D. student</span>
        <span>from Singapore</span>
        <span class="keyword">Self-taught programmer</span>
        <span class="keyword">School-trained aerospace engineer</span>
      </h4>
    </div>
    <div class="slide"> 
      <img class="full" src="/assets/images/slideshow/airshow.jpg"/>
      <h4>
        <span class="keyword">interested in:</span>
        <span>High performace computing</span>
        <span>Computational fluid dynamics</span>
        <span>Aerospace</span>
      </h4>
    </div>
    <div class="slide">
      <img class="full" src="/assets/images/slideshow/drone.jpg"/>
      <h4>
        <span class="keyword">i like:</span>
        <span>writing code</span>
        <span>building things</span>
        <span>liverpool f.c.</span>
      </h4>
    </div>
  </div>
      <div class="overlay"></div>
  </div>
</article>
