<article class="two alt item long inactive small">
  <div class="topper">
    <span>me@beverleyy:~</span>
  </div>
  <div class="front">
  <div class="carousell main-carousel">
    <div class="slide">
      <img class="full" src="/assets/images/slideshow/dragon.jpg"/>
      <h4>
        <span class="keyword">Hi! I'm <strong>Beverley</strong></span>
        <span>Self-taught programmer</span>
        <span>School-trained aerospace engineer</span>
        <span>from Singapore</span>
      </h4>
    </div>
    <div class="slide"> 
      <img class="full" src="/assets/images/slideshow/airshow.jpg"/>
      <h4>
        <span class="keyword">Interested in:</span>
        <span>HPC</span>
        <span>CFD</span>
        <span>Aerospace</span>
      </h4>
    </div>
    <div class="slide">
      <img class="full" src="/assets/images/slideshow/drone.jpg"/>
      <h4>
        <span class="keyword">I like:</span>
        <span>Writing code</span>
        <span>Building things</span>
        <span>Liverpool F.C.</span>
      </h4>
    </div>
  </div>
      <div class="overlay"></div>
  </div>
</article>
