<article class="two item long inactive small">
  <div class="topper">
    <span>me@beverleyy:~</span>
  </div>
  <div class="front">
  <div class="carousell main-carousel">
    <div class="slide">
      <img class="full" src="/assets/images/slideshow/dragon.jpg"/>
      <h4>
        <span class="keyword">Hi! I'm <strong>Beverley</strong></span>
        <span>(she/her)</span>
        <span>Stanford Mech.Eng. Ph.D. candidate</span>
        <span>from Singapore</span>
      </h4>
    </div>
    <div class="slide"> 
      <img class="full" src="/assets/images/slideshow/airshow.jpg"/>
      <h4>
        <span class="keyword">I'm interested in:</span>
        <span title="High-performance computing">HPC</span>
        <span title="Computational fluid dynamics">CFD</span>
        <span>Aerospace</span>
      </h4>
    </div>
    <div class="slide">
      <img class="full" src="/assets/images/slideshow/drone.jpg"/>
      <h4>
        <span class="keyword">I like:</span>
        <span>Computers</span>
        <span>Mechanical keyboards</span>
        <span>Liverpool F.C.</span>
      </h4>
    </div>
  </div>
      <div class="overlay"></div>
  </div>
</article>
