    <header>
      <h1><span id="proff" data-text="Beverley">Beverley</span> Yeo</h1>
      <!-- <p>
          Due to the nature of aerospace research, only personal, academic and
 university projects are included on this page.
      </p> -->
    </header>

    {% include isotope.html %}

    <p class="sub">
      <span><a href="https://www.a-star.edu.sg/Scholarships/for-graduate-studies/national-science-scholarship-phd">A*STAR NSS (PhD)</a></span>
      <span><a href="https://fxlab.stanford.edu">Supervised by Prof. Matthias Ihme</a></span>
      <span>Personal/university/academic projects</span>
    </p>
