<nav id="d" class="iso">
  <!-- Add class="exclusive" for radio filter -->
  <ul class="filter option-set exclusive" data-filter-group="type">
    <li><a href="#" data-filter-value="" class="selected">
      <span>Work</span>
      <!-- <i class="ti ti-caret-right"></i> -->
    </a></li>
    <li><a href="#" data-filter-value=".edu"><span>Education</span></a></li>
    <li><a href="#" data-filter-value=".res"><span>Research</span></a></li>
    <li><a href="#" data-filter-value=".eng"><span>Engineering</span></a></li>
  </ul> 
</nav>