<nav id="right">
  <a href="#latest" class="popp" title="Latest News"><i class="ti ti-rss"></i></a>
  <a href="#pubslist" class="popp" title="Publications"><i class="ti ti-news"></i></a>
  <a href="assets/Beverley_CV_Graduate.pdf" title="Download my CV (Last updated 12/2024)"><i class="ti ti-download"></i></a>
  <a href="mailto:a170092@e.ntu.edu.sg" title="Email"><i class="ti ti-mail"></i></a>
  <a href="http://github.com/beverleyy" title="Github"><i class="ti ti-brand-github"></i></a>
  <a href="http://linkedin.com/in/beverleyy" title="LinkedIn"><i class="ti ti-brand-linkedin"></i></a>
  <a href="#" id="switch"><i class="ti ti-flame"></i></a>
</nav>