<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/metafizzy/isotope-packery@master/packery-mode.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.2.0/papaparse.min.js"></script>

{% for js_file in site.static_files %}
  {% if js_file.path contains '/assets/js/' %}
    <script src="{{ js_file.path | relative_url }}"></script>
  {% endif %}
{% endfor %}

<!-- analytics -->
<script type="text/javascript">
var sc_project=12833771; 
var sc_invisible=1; 
var sc_security="450f4024"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="web counter"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12833771/0/450f4024/1/"
alt="web counter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>