.cursor {
  	position:fixed;
  	top:50%;
  	width:36px;
  	height:36px;
  	border:2px solid var(--accent-one);
  	border-radius:50%;
  	pointer-events:none;
  	transform:translate(-50%, -50%);
  	box-shadow:0 0 24px var(--shadow);
  	transition:all 0.15s ease-out;
  	z-index:1000000;
  	background:transparent;
}

.cursor.held {
	border-color:var(--accent-two);
}

.cursor.hover {
  	transform: scale(2) translate(-25%, -25%);
  	opacity:0.6;
  	background:var(--accent-two);
  	box-shadow:0 0 12px var(--shadow);
  	border-color:transparent;
}

.cursor.hover.active_link {
  	background:var(--accent-one);
}

.cursor.active_menu {
  	border-color:var(--accent-two);
}

@media screen and (max-width: 1200px){
  	.cursor {
    	display:none;
  	}
}
