body{
	width:100%;
	display:block;
	overflow-x:hidden;
    padding-bottom:0;
}

html[data-theme='dark'] .clouds {
    --background:#2F2D30;
}

html[data-theme='light'] .clouds {
    --background:#ECE7E0;
}

.clouds {
    z-index:9;
}

main {
    margin-top:0px;
    margin-bottom:0;
}

.section {
    position:relative;
	width:100%;
	display:block;
}

.full-height {
	height:100vh;
}

.section.z-bigger {
	z-index:100;
}

.section.z-bigger-2 {
	z-index:200;
}

.section-title-wrap{
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 3;
}

.section-title-wrap .foot {
    display:block;
    position:static;
    bottom:auto;
    left:auto;
    font-size:1.6em;
    font-family:"Liquido","Inter",sans-serif;
    letter-spacing:1px;
    padding-left:0;
}

.section-title-wrap a.home {
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:0.8em;
    color:var(--accent-two);
}

.section-title-wrap a.home:hover {
    color:var(--accent-one);
}

.section-title-wrap p a {
    border-bottom:1px solid var(--accent-one);
}

.section-title-wrap h1 {
	margin: 0;
	padding: 0;
    color:var(--accent-one);
    font-weight:900;
}

.padding-top-bottom {
	padding-top: 100px;
	padding-bottom: 100px;
}

.over-hide{
	overflow: hidden;
}

.project-link-wrap {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	/* cursor: pointer; */
}

.project-link-wrap p {
	font-size: 100px;
	line-height: 80px;
	color: var(--text);
	font-weight: 900;
	text-align: center;
	margin: 0 auto;
	/* cursor: pointer; */
	opacity: 0.35;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.project-link-wrap:hover p{
	opacity: 0.15;
}

.case-study-wrapper {
	position: absolute;
	top:30px;
	left:50%;
	z-index:8;
	width:auto;
	margin:0;
	padding:1em 1.5em;
	-webkit-transform:translate(-50%, 100%);
	transform:translate(-50%, 100%);
	list-style:none;
	text-align:center;
    background:(--transparency);
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
}

.case-study-wrapper .case-study-name {
	margin: 5px;
	display: inline-block;
}

.case-study-wrapper .case-study-name a {
	position: relative;
	list-style: none;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 0;
	font-size: 14px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 2px;
	color: var(--text);
	opacity: 0.5;
	text-decoration: none;
    text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}	

.case-study-wrapper .case-study-name a:hover {
	text-decoration: none;
}	

.case-study-wrapper .case-study-name.active a {
	opacity: 1;
	color: var(--accent-one);
}	

html[data-theme='light'] .case-study-images {
    --transparency:rgba(205,198,189,0.4);
}

html[data-theme='dark']  .case-study-images {
    --transparency:rgba(205,198,189,0.1);
}

.case-study-images {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	z-index:2;
    box-sizing:border-box;
    padding:0;
}	

.case-study-images li {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	list-style:none;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}	
.case-study-images li .img-hero-background {
	position: absolute;
	width: calc(100% - 80px);
    max-width: 950px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center center;
	background-repeat:no-repeat;
	top: 50%;
	left: 50%;
	overflow: hidden;
	list-style:none;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.case-study-images li .img-hero-background img{
  width: 100%;
  height: auto;
  display: block;
}

.case-study-images li.show .img-hero-background {
	opacity: 1;
} 

.case-study-images li .case-study-title{
	position: absolute;
	top: 0;
    height: 100%;
    text-align: center;
	left: 30px;
	display: block;
	opacity: 0;
	z-index: 19;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	color: var(--text); 
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
	text-transform:uppercase;
	letter-spacing:1px;
}

.case-study-images li.show .case-study-title {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
} 

.case-study-images li .hero-number-back {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	list-style:none;
	opacity: 0;
	font-size: 100px;
	font-weight: 900;
    font-family:"Liquido","Inter",sans-serif;
	line-height: 1;
    color:var(--transparency);
	z-index: 1000;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 

.case-study-images li .hero-number {
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 40px;
	margin-left: -70px;
	display: block;
	letter-spacing: 2px;
	text-align: center;
	list-style:none;
	opacity: 0;
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	color: var(--accent-one);
	z-index: 1001;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 

.case-study-images li .hero-number-fixed {
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: 30px;
	width: 40px;
	text-align: center;
	display: block;
	letter-spacing: 2px;
	list-style:none;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: var(--accent-two);
	z-index: 1001;
}

.case-study-images li .hero-number-fixed:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -60px;
	width: 60px;
	height: 1px;
	z-index: 1001;
	background-color: var(--transparency);
}

.case-study-images li.show .hero-number {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
} 

.case-study-images li.show .hero-number-back {
	opacity: 1;
} 

@media (max-width: 1200px) { 
    .case-study-images li .case-study-title{
        left: 13px;
    }
}

@media (max-width: 767px) {	
	.case-study-wrapper .case-study-name a {
		font-size: 11px;
		letter-spacing: 1px;
        text-align: center;
        margin: 5px;
	}
    .case-study-images li .case-study-title{
        /* left: 13px; */
		left:0;
		right:0;
		-webkit-writing-mode:unset;
		writing-mode:unset;
		top:50vh;
		margin-top:50%;
		transform:translate(0,0);
		-webkit-transform:translate(0,0);
		font-size:0.8em;
    }

	.case-study-images li .img-hero-background {
		width:100%;
	}

	.case-study-wrapper .case-study-name {
        margin: 0 auto;
        text-align: center;
	}

	.case-study-images li .hero-number-back{
		font-size: 100px;
	} 
}